.todos {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--gray-500);
  color: var(--gray-100);
  border: 1px solid var(--gray-400);
  padding: 16px 20px;
  border-radius: 8px;
}

.checked {
  color: var(--gray-300);
  text-decoration: line-through;
}

.todos + .todos {
  margin-top: 12px;
}

.todos img {
  cursor: pointer;
}

.todos button {
  background: transparent;
  border: none;
  cursor: pointer;
}
